<header>
  <%= form_for :search do |s| %>
    <% if @stores -%>
      <div class="field">
        <div>
          <% selected = params[:search].present? && params[:search][:store_id_eq].present? ? params[:search][:store_id_eq] : nil %>
          Store:
        </div>
        <div>
          <%= s.select :store_id_eq, options_from_collection_for_select(@stores, :id, :name, selected), {:include_blank => 'All'}, {:class => 'select2 fullwidth'} %>
        </div>
      </div>
    <% end -%>
    <% if @taxons -%>
      <div class="field">
        <div><%=Spree.t "taxons"%></div>
        <div><%= collection_select(:advanced_reporting, :taxon_id, @taxons, :id, :name, {:include_blank => 'All'}, {:class => 'select2 fullwidth'} ) %></div>
      </div>
    <% end -%>
    <div class="field">
      <div><%=Spree.t :products%></div>
      <div><%= collection_select(:advanced_reporting, :product_id, @products, :id, :name, {:include_blank => 'All'}, {:class => 'select2 fullwidth'} ) %></div>
    </div>
    <h6><%= Spree.t("date_range") %></h6>
    <div class="field">
      <div><label><%= Spree.t("start") %></label></div>
      <div><%= s.text_field :completed_at_gt , :class => 'datepicker'%></div>
    </div>
    <div class="field">
      <div><%= Spree.t("stop") %></div>
      <div><%= s.text_field :completed_at_lt ,  :class => 'datepicker' %></div>
    </div>
    <div class="field">
      <%= button Spree.t("update") %>
    </div>
  <% end -%>
</header>

<% content_for :head do -%>
  <%= javascript_include_tag 'admin/jquery.tablesorter.min.js', 'admin/spree_advanced_reporting.js' %>
  <%= stylesheet_link_tag 'admin/spree_advanced_reporting' %>
  <script type="text/javascript">
    var completed_at_lt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_lt]) ? @report.unfiltered_params[:completed_at_lt] : datepicker_field_value(Time.now.end_of_day) %>";
    var completed_at_gt = "<%= (@report.unfiltered_params && @report.unfiltered_params[:completed_at_gt]) ? @report.unfiltered_params[:completed_at_gt] : datepicker_field_value((SpreeAdvancedReporting.default_min_date).beginning_of_day) %>";
  </script>
<% end -%>

<% if params[:advanced_reporting] -%>
  <% if params[:advanced_reporting][:product_id] && params[:advanced_reporting][:product_id] != '' -%>
  <input type="hidden" id="product_id" value="<%= params[:advanced_reporting][:product_id] %>" />
  <% end -%>
  <% if params[:advanced_reporting][:taxon_id] && params[:advanced_reporting][:taxon_id] != '' -%>
  <input type="hidden" id="taxon_id" value="<%= params[:advanced_reporting][:taxon_id] %>" />
  <% end -%>
<% end -%>
